<div class="trip-banner" style="background-image: url(<%= asset_path "#{@trip_url}-banner.jpg" %>)"></div>

<div class="trip-title text-center">
  <h1>Canada, Québec, here we come!</h1>
</div>

<div class="trip-map text-center">
  <div class="marker-legend" style="background-image: url(<%= asset_path "itinerary-drawing.png" %>)"></div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m64!1m12!1m3!1d2758990.8495472916!2d-72.3504161183392!3d47.5224963671429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m49!3e0!4m5!1s0x4cc91a541c64b70d%3A0x654e3138211fefef!2sMontreal%2C+QC%2C+Canada!3m2!1d45.5016889!2d-73.567256!4m5!1s0x4cb8bea352354381%3A0x4d1c28c0ad833f1a!2sMontmorency+Falls%2C+Qu%C3%A9bec+City%2C+QC%2C+Canada!3m2!1d46.8908917!2d-71.1478326!4m5!1s0x4cbf6fdc1777cd35%3A0x4665e425f3bc01f5!2sCharlevoix%2C+QC%2C+Canada!3m2!1d47.6304216!2d-70.64820739999999!4m5!1s0x4cbfe180db5bc0b1%3A0xa14d9d2e1b1a89a2!2sSaguenay+Fjords+National+Park%2C+Rue+Notre+Dame%2C+Rivi%C3%A8re-%C3%89ternit%C3%A9%2C+QC%2C+Canada!3m2!1d48.300742!2d-70.33531099999999!4m5!1s0x4cbfd5c05f904ecb%3A0x1343833432cb9559!2sTadoussac%2C+QC%2C+Canada!3m2!1d48.145977599999995!2d-69.7128395!4m5!1s0x4c90b138b8afc8b7%3A0x86660b037894cd51!2sGaspesie+National+Park%2C+Route+du+Parc%2C+Sainte-Anne-des-Monts%2C+QC%2C+Canada!3m2!1d48.947409!2d-66.1224!4m5!1s0x4cb8968a05db8893%3A0x8fc52d63f0e83a03!2zUXXDqWJlYywgUUMsIENhbmFkYQ!3m2!1d46.8138783!2d-71.2079809!4m5!1s0x4cc91a541c64b70d%3A0x654e3138211fefef!2zTW9udHLDqWFsLCBRQywgQ2FuYWRh!3m2!1d45.5016889!2d-73.567256!5e0!3m2!1sen!2sfr!4v1531219317042" width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="postit-trip">
  <span class="highlight"><%= link_to "Landing in Montreal on 11/08", anchor: :montreal, class: "postit-item" %></span> <br>
  <span class="highlight"><%= link_to "Leaving for Charlevoix on Tuesday (14/08)", anchor: :charlevoix, class: "postit-item" %></span> <br>
  <span class="highlight"><%= link_to "Driving to Tadoussac on Friday (16/08)", root_path, class: "postit-item" %></span> <br>
  <span class="highlight"><%= link_to "Heading to Gaspesie National Park (19/08)", root_path, class: "postit-item" %></span> <br>
  <span class="highlight"><%= link_to "Kamouraska sunset on 22/08", root_path, class: "postit-item" %></span> <br>
  <span class="highlight"><%= link_to "Quebec City! (23/08)", root_path, class: "postit-item" %></span>
</div>

<div class="paper tabcontent" id="montreal">
  <h1>In montreal!</h1>
</div>

<div class="paper tabcontent" id="charlevoix">
  <h1>In Charlevoix!</h1>
</div>
