<nav class="navbar">
  <div class="navbar-center">
    <%= link_to root_path do %>
      <p class="heading3">Discover countries</p>
    <% end %>
    <%= link_to root_path do %>
      <%= image_tag ("logo-black.png"), class: "logo" %>
    <% end %>
    <%= link_to root_path do %>
      <p class="heading3">Explore road trips</p>
    <% end %>
  </div>

  <div class="navbar-right">
    <%= link_to root_path do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>
</nav>
