<nav class="navbar">
    <%= link_to root_path do %>
      <%= image_tag ("logo.png"), class: "logo" %>
    <% end %>



  <div class="navbar-icons">
    <%= link_to root_path do %>
      <i class="fas fa-suitcase"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fas fa-car"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>
</nav>
